.SingleMovie {
  background: var(--black);
  color: var(--light);
  display: flex;
  text-align: left;
  min-width: 300px;
  padding: 60px;
}

.SingleMovie--img {
  width: 30vw;
}

.SingleMovie__content--title {
  font-size: 24px;
  line-height: 28px;
}

.SingleMovie__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin-left: 26px;
}

iframe {
  width: 120vh;
  height: calc(120vh / 16 * 9);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -60vh; /* Negative half of height. */
  margin-top: calc(-120vh / 16 * 9 / 2);
  background-color: rgba(0, 0, 0, 0.5);
}
